<script>
  function ConfirmDelete(url){
    if (confirm("Deletar Cidade?")){
      return window.location.href = url;
    }
    else {
       return false;
    }
  } 
</script>

<h2 class="page-header">Buscar Cidade</h2>
<form action="/cities" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Buscar</label>
      <input type="text" name="search" value="<%= search %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Buscar</button>
  </div>
</form>
<br>
<% cities.forEach(city=> { %>
  <div class="user-row">
    <div class="user">
      <%= city.name %>
    </div>
    
    <div class="btn-row">
      <a class="btn btn-primary" href="/cities/<%= city.id %>/edit">Editar</a>
      <form action="/cities/<%= city.id %>?_method=DELETE" method="POST" onsubmit="return ConfirmDelete('/delete/<%= city.id %>')">
        <div class="form-item">
          <button class="btn btn-danger" type="submit">Deletar</button>
        </div>
      </form>

    </div>
  </div>
  <% }) %>