<script>
  function ConfirmDelete(url){
    if (confirm("Deletar Cidade?")){
      return window.location.href = url;
    }
    else {
       return false;
    }
  } 
</script>
<div class="container admin-body-container">
  <form action="/cities" method="GET">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="search" value="<%= search %>" placeholder="Buscar cidade" aria-label="Buscar cidade">
      <span class="input-group-text" id="search-icon-container">
        <button class="btn btn-link" id="btn-search" type="submit">
          <i class="bi-search"></i>
        </button>
      </span>
    </div>
  </form>

  <br>

  <div class="row">
    <div class="city-title col-md-12">
      <h6>Cidade</h6>
    </div>
  </div>
  <hr class="edited">

  <% cities.forEach(city=> { %>
    <div class="row">
      <div class="user col-md-10">
        <div class="user">
          <%= city.name %>
        </div>
      </div>
      <div class="user col-md-2">
        <div class="btn-row">
          <form action="/cities/<%= city.id %>/edit" method="GET">
            <div class="form-item">
              <button class="btn-edit btn-primary" type="submit">
                <i class="bi-pencil-square"></i>
              </button>
            </div>
          </form>          
          <form action="/cities/<%= city.id %>?_method=DELETE" method="POST" onsubmit="return ConfirmDelete('/delete/<%= city.id %>')">
            <div class="form-item">
              <button class="btn-delete btn-danger" type="submit">
                <i class="bi-trash-fill"></i>
              </button>
            </div>
          </form>
        </div>
      </div>  
    </div>
  <% }) %>
</div>