<script>
  function ConfirmDelete(url){
    if (confirm("Deletar Usuário?")){
      return window.location.href = url;
    }
    else {
       return false;
    }
  } 
</script>

<div class="container admin-body-container">
  <div class="row">
    <form class="col-md-10" action="/users" method="GET">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" value="<%= search %>" placeholder="Buscar usuário" aria-label="Buscar usuário" aria-describedby="basic-addon2">
        <span class="input-group-text" id="search-icon-container">
          <button class="btn btn-link" id="btn-search" type="submit">
            <i class="bi-search"></i>
          </button>
        </span>
      </div>
    </form>
    <a class="col-md-2 input-group-text" id="add-user-group" href="/users/new">
        <span class="">
          <i class="bi-plus-square add-user-icon"></i>
        </span>
        <span class="add-user-label">NOVO</span>
    </a>
  </div>
  <br>
  <div class="row md-3">
    <div class="user-title col-md-4">
      <h6>Nome</h6>
    </div>
    <div class="user-title col-md-2">
      <h6>Cidade</h6>
    </div>
    <div class="user-title col-md-4">
      <h6>Email</h6>
    </div>
  </div>
  <hr class="edited">

  <% users.forEach(user=> { %>
    <div class="row md-3">
      <div class="user col-md-4">
        <%= user.name %>
      </div>
      <div class="user col-md-2">
        <%= user.city.name %>
      </div>
      <div class="user col-md-4">
        <%= user.email %>
      </div>
      <div class="btn-row col-md-2">
        <form action="/users/<%= user.id %>/edit" method="GET">
          <div class="form-item">
            <button class="btn-primary btn-edit" type="submit">
              <i class="bi-pencil-square"></i>
            </button>
          </div>
        </form>
        <form action="/users/<%= user.id %>?_method=DELETE" method="POST" onsubmit="return ConfirmDelete('/delete/<%= user.id %>')">
          <div class="form-item">
            <button class="btn-danger btn-delete" type="submit">
              <i class="bi-trash-fill"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  <% }) %>
</div>