<script>
  function ConfirmDelete(url){
    if (confirm("Deletar Usuário?")){
      return window.location.href = url;
    }
    else {
       return false;
    }
  } 
</script>

<h2 class="page-header">Buscar Usuário</h2>
<form action="/users" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Buscar</label>
      <input type="text" name="search" value="<%= search %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Buscar</button>
  </div>
</form>
<br>
<% users.forEach(user=> { %>
  <div class="user-row">
    <div class="user">
      <%= user.name %>
    </div>
    <div class="user">
      <%= user.city.name %>
    </div>
    <div class="user">
      <%= user.email %>
    </div>
    <div class="user">
      <%= user.createdAt %>
    </div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/users/<%= user.id %>/edit">Editar</a>
      <form action="/users/<%= user.id %>?_method=DELETE" method="POST" onsubmit="return ConfirmDelete('/delete/<%= user.id %>')">
        <div class="form-item">
          <button class="btn btn-danger" type="submit">Deletar</button>
        </div>
      </form>

    </div>
  </div>
<% }) %>